@charset "UTF-8";

html {
  font-size:  100%;
}

body {
  background-color:  #f5f2e5;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: 30px 80px;

}
/* メインコンテンツの装飾　ここから*/

h1 {

  font-size: 2rem;
  font-family: serif;
  font-weight: bold;
  background-color: #faa;
  padding: 20px;
}

h2 {
  font-size: 20px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  color: navy;
}

p {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", sans-serif;
  line-height: 1.5;
  text-align: justify;
  border-bottom: 2px solid #0bd;
　color: #999;
}

#blue {
  color: #0bd;
}

.orange {
  color: #fa2;
}

div p {
  color: red;
  weight: 50%;
}

ul {
  list-style: square  url(../images/star.png) outside;
}

ol {
  list-style-type: hiragana;
  list-style-position: inside;

}

li{
  background-color: #0bd;
}

.item {
  background: #0bd;
  color: #fff;
  padding: 10px;
  width: 200px;
  margin: 10px;
  float: left;

}

.container::after {
  content: '';
  display: block;
  clear: both;
}
